@model UserViewModel
@inject IAppPageAdapter _page

@{
    string on_save_click = Razor.ElementRndShortId("on_save_click");
    string on_modal_click = Razor.ElementRndShortId("on_modal_click");
    string refresh_users = Razor.ElementRndShortId("refresh_users");
    string form = Razor.ElementRndShortId("form");
}

<div class="modal-header">
    <h5 class="modal-title"><i class="far fa-edit"></i> Create User</h5>
    <a href="#" class="close" aria-label="Close" onclick="modal.close(event)"><span aria-hidden="true">&times;</span></a>
</div>

<div class="modal-body">

    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create" id="@form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="col-md-12 p-3">
                            <div class="form-group">
                                <label asp-for="Username" class="control-label"></label>
                                <input asp-for="Username" class="form-control" />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Fullname" class="control-label"></label>
                                <input asp-for="Fullname" class="form-control" />
                                <span asp-validation-for="Fullname" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>

<div class="modal-footer">
    <a href="#" class="btn btn-secondary" onclick="@(on_modal_click)()">Open modal</a>
    <a href="#" class="btn btn-secondary" onclick="modal.close(event)">Close</a>
    <a href="#" class="btn btn-primary" onclick="@(on_save_click)(event)" data-loading-text="Saving...">Save</a>
</div>

<script type="text/javascript">

    @on_save_click = (e) => {
        e.preventDefault();

        try {
            var url = "@Url.Action("Create", "Users")";
            var data = {
                Username: $("#@form #Username").val(),
                Password: $("#@form #Password").val(),
                Fullname: $("#@form #Fullname").val(),
            };
            var token = global.gettoken();

            global.submit(url, data, token)
                .then((status) => {
                    try {
                        var id = status.id;
                        layout.modal("Users", "Edit", "id=" + id, modalsizes.NORMAL);
                    } catch (e) {
                        global.toasterror(e);
                    } finally {
                        @(refresh_users)();
                        global.toastsuccess("Record [" + id + "] created with success!");
                        modal.close(e);
                    }
                })
                .catch((status) => {
                    console.dir(status);
                    var s = JSON.parse(status);
                    global.toasterror(s.message);
                });
        } catch (e) {
            global.toasterror(e);
        }
    };

    @on_modal_click = () => {
        try {
            layout.modal("Users", "Modal", null, modalsizes.XLARGE);
        } catch (e) {
            global.toasterror(e);
        }
    }

    @refresh_users = () => {
        var gridname = '@_page.AppObjectsAdapter.Grid_Users';
        var grid = $("#" + gridname)[0].ej2_instances[0];
        if (grid) {
            grid.refresh();
        }
    }

</script>