@model IEnumerable<User>

@{
    string record_id = Razor.Rnd();
    string record_name = Razor.Rnd();
    string record_systemid = Razor.Rnd();
    string search_box = Razor.Rnd();

    string on_grid_databound = Razor.Rnd();
    string on_grid_click = Razor.Rnd();
    string on_grid_dblclick = Razor.Rnd();

    string clear_filters = Razor.Rnd();
    string clear_search = Razor.Rnd();
    string show_groups = Razor.Rnd();
    string search = Razor.Rnd();
    string delete = Razor.Rnd();
    string resize = Razor.Rnd();
}

@{
    ViewData["Title"] = "USERS PAGE";
}

<nav class="navbar navbar-expand navbar-light bg-light navbar-menu">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
            <a href="#" class="nav-link text-dark" onclick="layout.show_users_create()"><i class="fas fa-plus"></i> NEW</a>
        </li>
        <li class="nav-item ">
            <a href="#" class="nav-link text-dark" onclick="layout.show_users_edit(@record_id)"><i class="fas fa-edit"></i> UPDATE</a>
        </li>
        <li class="nav-item ">
            <a href="#" class="nav-link text-dark" onclick="@(delete)(@(record_id))"><i class="fas fa-trash"></i> DELETE</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark" onclick="layout.refresh_usersgrid()"><i class="fas fa-sync-alt"></i> REFRESH</a>
        </li>

        <li class="nav-item dropdown d-none d-md-block">
            <a class="nav-link  text-dark dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                VIEW
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item text-dark" href="#" onclick="@(show_groups)()"><i class="far fa-object-ungroup"></i> TOGGLE GROUP</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-dark" href="#" onclick="@(clear_filters)()"><i class="fas fa-filter"></i> CLEAR FILTERS</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-dark" href="#" onclick="@(clear_search)()"><i class="fas fa-search"></i> CLEAR SEARCH</a>
            </div>
        </li>

        <li class="nav-item dropdown d-none d-md-block">
            <a class="nav-link  text-dark dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                NAVIGATION
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item text-dark" href="#" onclick="layout.show_form('systemid', @record_systemid, 'Audits', 'AuditHistory', modalsizes.LARGE)"><i class="fas fa-lock"></i> AUDIT</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-dark" href="#" onclick="layout.show_form('userId', @record_id, 'UserRoles', 'IndexByUser', modalsizes.NORMAL)"><i class="fas fa-users "></i> USER ROLES</a>
            </div>
        </li>

    </ul>
    <section class="d-none d-md-block">
        <form class="form-inline">
            <input id="@search_box" class="form-control" type="search" placeholder="Search" aria-label="Search">&nbsp;
        </form>
    </section>
</nav>

<ejs-grid id="GridUsers"
          height="400"
          allowPaging="true"
          allowSorting="true"
          allowFiltering="true"
          allowSelection="true"
          dataBound="@(on_grid_databound)"
          recordDoubleClick="@(on_grid_dblclick)"
          rowSelected="@(on_grid_click)">
    <e-grid-pagesettings pageSizes="true" pageSize="10">
    </e-grid-pagesettings>
    <e-data-manager url="@Url.Action("UrlDatasource", "Users")" adaptor="UrlAdaptor"></e-data-manager>
    <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
    <e-grid-columns>
        <e-grid-column width="70" field="Id" headerText="ID" isPrimaryKey="true"></e-grid-column>
        <e-grid-column width="200" field="Username" headerText="USERNAME"></e-grid-column>
        <e-grid-column width="200" field="Email" headerText="EMAIL"></e-grid-column>
        <e-grid-column width="200" field="Fullname" headerText="FULLNAME"></e-grid-column>
        <e-grid-column width="120" field="LastModifiedUser" headerText="MODIF. USER"></e-grid-column>
        <e-grid-column width="120" field="LastModifiedDate" headerText="MODIF. DATE" customFormat="@(new { type ="date", format="yyyy-MM-dd HH:mm:ss" })" type="date"></e-grid-column>
    </e-grid-columns>
</ejs-grid>


@section Scripts {

    <script type="text/javascript">

        @record_id          = null;
        @record_name        = null;
        @record_systemid    = null;

        $(document).ready(function () {
            @(resize)();
        });

        $(window).resize(function () {
            @(resize)();
        });

        $('#@(search_box)').on("input", function (e) {
            @(search)($('#@(search_box)').val());
        });

        @on_grid_databound = (args) => { };

        @on_grid_click = (args) => {
            @record_id          = args.data.Id;
            @record_name        = args.data.Username;
            @record_systemid    = args.data.SystemId;
        };

        @on_grid_dblclick = (args) => {
            @record_id = args.rowData.Id;
            layout.show_users_edit(@record_id);
        };

        @clear_filters = () => {
            var grid = layout.get_usersgrid();
            grid.clearFiltering();
        };

        @clear_search = () => {
            var grid = layout.get_usersgrid();
            grid.searchSettings.key = '';
            $('#@(search_box)').val('');
        };

        @show_groups = () => {
            var grid = layout.get_usersgrid();
            grid.allowGrouping = !grid.allowGrouping;
        };

        @search = (searchString) => {
            var grid = layout.get_usersgrid();
            grid.search(searchString);
        };

        @delete = (id) => {
            if (id) {
                global.confirm(cfg.text.askConfirmDelete + `<br><b>'${@record_name}'</b>`)
                    .then((result) => {
                        if (result === true) {
                            var url = "@Url.Action("Delete", "Users")";
                            var data = { Id: id };
                            global.submit(url, data)
                                .then((status) => {
                                    layout.refresh_usersgrid();
                                    global.toastsuccess("Record [" + id + "] deleted with success!");
                                })
                                .catch((status) => {
                                    var s = JSON.parse(status);
                                    global.toasterror(s.message);
                                });
                        }
                    });
            }
            else {
                global.alert("You must select a record !");
            }
        };

        @resize = () => {
            var grid = layout.get_usersgrid();
            grid.height = $(window).height() - 300;
        };

    </script>
}





