@model IEnumerable<User>
@inject IAppPageAdapter _page

@{
    // dynamic js

    string var_record_id = Razor.Rnd();
    string var_record_name = Razor.Rnd();
    string var_record_systemid = Razor.Rnd();

    string ui_search_box = Razor.Rnd();

    string event_on_grid_databound = Razor.Rnd();
    string event_on_grid_click = Razor.Rnd();
    string event_on_grid_dblclick = Razor.Rnd();
    string event_on_new_click = Razor.Rnd();
    string event_on_edit_click = Razor.Rnd();
    string event_on_audithistory_click = Razor.Rnd();

    string func_clear_filters = Razor.Rnd();
    string func_clear_search = Razor.Rnd();
    string func_show_groups = Razor.Rnd();
    string func_search = Razor.Rnd();
    string func_delete = Razor.Rnd();
    string func_resize = Razor.Rnd();
    string func_refresh = Razor.Rnd();
    string func_get_grid = Razor.Rnd();
}

@{
    ViewData["Title"] = "Manage users list";
}

<nav class="navbar navbar-expand navbar-light bg-light navbar-menu">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
            <a href="#" class="nav-link text-dark" onclick='@(event_on_new_click)()'><i class="fas fa-plus"></i> New</a>
        </li>
        <li class="nav-item ">
            <a href="#" class="nav-link text-dark" onclick='@(event_on_edit_click)(@var_record_id)'><i class="fas fa-edit"></i> Update</a>
        </li>
        <li class="nav-item ">
            <a href="#" class="nav-link text-dark" onclick="@(func_delete)(@(var_record_id))"><i class="fas fa-trash"></i> Delete</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark" onclick="@(func_refresh)()"><i class="fas fa-sync-alt"></i> Refresh</a>
        </li>

        <li class="nav-item dropdown d-none d-md-block">
            <a class="nav-link  text-dark dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                View
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item text-dark" href="#" onclick="@(func_show_groups)()">
                    <i class="far fa-object-ungroup"></i> Toggle groups<br />
                    <span class="text-xs text-muted">Show/Hide the column group selector</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-dark" href="#" onclick="@(func_clear_filters)()">
                    <i class="fas fa-filter"></i> Clear filters<br />
                    <span class="text-xs text-muted">Clear all current filters</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-dark" href="#" onclick="@(func_clear_search)()">
                    <i class="fas fa-search"></i> Clear search<br />
                    <span class="text-xs text-muted">Clear the current search criteria</span>
                </a>
            </div>
        </li>

        <li class="nav-item dropdown d-none d-md-block">
            <a class="nav-link  text-dark dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Navigation
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item text-dark" href="#" onclick='@(event_on_audithistory_click)(@var_record_systemid)'>
                    <i class="fas fa-lock"></i> Audit<br />
                    <span class="text-xs text-muted">Manage the audit changes of the selected record</span>
                </a>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-dark" href="#" onclick='layout.modal("UserRoles", "IndexByUser", "userId=" + @var_record_id, modalsizes.NORMAL)'>
                    <i class="fas fa-users "></i> User roles<br />
                    <span class="text-xs text-muted">Manage the roles of the selected record</span>
                </a>
            </div>
        </li>

    </ul>
    <section class="d-none d-md-block">
        <form class="form-inline">
            <input id="@ui_search_box" class="form-control" type="search" placeholder="Search" aria-label="Search">&nbsp;
        </form>
    </section>
</nav>

<ejs-grid id="@_page.AppObjectsAdapter.Grid_Users"
          height="400"
          allowPaging="true"
          allowSorting="true"
          allowFiltering="true"
          allowSelection="true"
          dataBound="@(event_on_grid_databound)"
          recordDoubleClick="@(event_on_grid_dblclick)"
          rowSelected="@(event_on_grid_click)">
    <e-grid-pagesettings pageSizes="true" pageSize="10">
    </e-grid-pagesettings>
    <e-data-manager url="@Url.Action("UrlDatasource", "Users")" adaptor="UrlAdaptor"></e-data-manager>
    <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
    <e-grid-columns>
        <e-grid-column width="100" field="Id" headerText="Id" isPrimaryKey="true"></e-grid-column>
        <e-grid-column width="200" field="Username" headerText="Username"></e-grid-column>
        <e-grid-column width="200" field="Email" headerText="Email"></e-grid-column>
        <e-grid-column width="200" field="Fullname" headerText="Fullname"></e-grid-column>
    </e-grid-columns>
</ejs-grid>


@section Scripts {

    <script type="text/javascript">

        @var_record_id          = null;
        @var_record_name        = null;
        @var_record_systemid    = null;

        $(document).ready(function () {
            @(func_resize)();
        });

        $(window).resize(function () {
            @(func_resize)();
        });

        $('#@(ui_search_box)').on("input", function (e) {
            @(func_search)($('#@(ui_search_box)').val());
        });

        @event_on_grid_databound = (args) => { };

        @event_on_grid_click = (args) => {
            @var_record_id          = args.data.Id;
            @var_record_name        = args.data.Username;
            @var_record_systemid    = args.data.SystemId;
        };

        @event_on_grid_dblclick = (args) => {
            @var_record_id = args.rowData.Id;
            layout.modal("Users", "Edit", "id=" + @var_record_id, modalsizes.NORMAL)
        };

        @event_on_new_click = () => {
            layout.modal("Users", "Create", null, modalsizes.NORMAL);
        }

        @event_on_edit_click = (id) => {
            if (id) {
                layout.modal("Users", "Edit", "id=" + id, modalsizes.NORMAL)
            } else {
                global.toasterror("Record not selected");
            }
        }

        @event_on_audithistory_click = (systemId) => {
            if (systemId) {
                layout.modal("Audits", "AuditHistory", "systemid=" + systemId, modalsizes.LARGE)
            } else {
                global.toasterror("Record not selected");
            }
        }

        @func_clear_filters = () => {
            var grid = @(func_get_grid)();
            grid.clearFiltering();
        };

        @func_clear_search = () => {
            var grid = @(func_get_grid)();
            grid.searchSettings.key = '';
            $('#@(ui_search_box)').val('');
        };

        @func_show_groups = () => {
            var grid = @(func_get_grid)();
            grid.allowGrouping = !grid.allowGrouping;
        };

        @func_search = (searchString) => {
            var grid = @(func_get_grid)();
            grid.search(searchString);
        };

        @func_delete = (id) => {
            if (id) {
                global.confirm(cfg.text.askConfirmDelete + `<br><b>'${@var_record_name}'</b>`)
                    .then((result) => {
                        if (result === true) {
                            var url = "@Url.Action("Delete", "Users")";
                            var data = { Id: id };
                            global.submit(url, data)
                                .then((status) => {
                                    @(func_refresh)();
                                    global.toastsuccess("Record [" + id + "] deleted with success!");
                                })
                                .catch((status) => {
                                    var s = JSON.parse(status);
                                    global.toasterror(s.message);
                                });
                        }
                    });
            }
            else {
                global.alert("You must select a record !");
            }
        };

        @func_resize = () => {
            var grid = @(func_get_grid)();
            grid.height = $(window).height() - 300;
        };

        @func_refresh = () => {
            var grid = @(func_get_grid)();
            if (grid) {
                grid.refresh();
            }
        };

        @func_get_grid = () => {
            var gridname = '@_page.AppObjectsAdapter.Grid_Users';
            return $("#" + gridname)[0].ej2_instances[0];
        };

    </script>
}





