@using Programatica.AspNetCore31AppSkeleton.Extensions
@inject Programatica.AspNetCore31AppSkeleton.Adapters.IPageAdapter _page


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>AppSkeleton | Demo</title>
    <partial name="AdminLTE/_Styles" />
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <partial name="AdminLTE/_TopNavigation" />
        <partial name="AdminLTE/_MainNavigation" />
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h5 class="m-0 text-dark">@ViewData["Title"]</h5>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">HOME</a></li>
                                <li class="breadcrumb-item active">@ViewData["Title"]</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <partial name="AdminLTE/_Modal" />
                <div id="main" class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>
        <aside class="control-sidebar control-sidebar-dark">
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>
        <partial name="AdminLTE/_Footer" />
    </div>
    <partial name="AdminLTE/_Scripts" />

    <!-- global IPageAdapter razor scripts -->
    <script type="text/javascript">

        var _page = _page || {};

        $(document).ready(function () {
            _page.connectionString = '@_page.ConnectionString';
            _page.controllerName = '@_page.ControllerName';
            _page.actionName = '@_page.ActionName';
            _page.messages = [];
            _page.warnings = [];
            _page.alerts = [];

            // add messages
            @foreach(var m in _page.PageMessages.OrEmptyIfNull())
            {
                @:_page.messages.push('@m');
            }
            @foreach(var w in _page.PageWarnings.OrEmptyIfNull())
            {
                @:_page.warnings.push('@w');
            }
            @foreach(var a in _page.PageAlerts.OrEmptyIfNull())
            {
                @:_page.alerts.push('@a');
            }

            _page.messages.forEach((m) => { global.toastinfo(m); });
            _page.warnings.forEach((w) => { global.toastwarning(w); });
            _page.alerts.forEach((a) => { global.toasterror(a); });

            global.toastinfo("ControllerName:<br>" + _page.controllerName);
            global.toastinfo("ActionName:<br>" + _page.actionName);
    });

    </script>

    @RenderSection("Scripts", required: false)

    <!-- Syncfusion Essential JS 2 ScriptManager -->
    <ejs-scripts></ejs-scripts>
</body>
</html>


